@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* CONFIGS */
/*
font-size (paragraphs): 18px (card titles e.g. Work, Play)
font-family: 'Rubik', sans-serif;
font-weight: 300, 400, 500
*/

:root {
    /* COLORS */
    /***** PRIMARY *****/
    --CARD-PROFILE: hsl(246, 80%, 60%);
    --CARD-WORK: hsl(15, 100%, 70%);
    --CARD-PLAY: hsl(195, 74%, 62%);
    --CARD-STUDY: hsl(348, 100%, 68%);
    --CARD-EXERCISE: hsl(145, 58%, 55%);
    --CARD-SOCIAL: hsl(264, 64%, 52%);
    --CARD-SELFCARE: hsl(43, 84%, 65%);

    /***** NEUTRAL *****/
    --BGCOLOR: hsl(226, 43%, 10%);
    --BGCOLOR-MAIN: hsl(235, 46%, 20%);
    --DESATURATED-BLUE: hsl(235, 45%, 61%);
    --PALE-BLUE: hsl(236, 100%, 87%);

    /* TYPOGRAPHY */
    --FONT: 'Rubik', sans-serif;
    --FONT-CARD: 18px;

    /* BORDER */
    --BORDER-RADIUS: 15px;
}

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    /* list-style-type: none; */
}

body {
    background-color: var(--BGCOLOR);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* 
h1, h2, h3, p, span {
    font-weight: 400;
}
 */

/* || MAIN */
.main {
    width: 70%;
    height: 60%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 1.5em 1.5em;
}

.profile {
    grid-row: span 2;
}

.card {
    border-radius: var(--BORDER-RADIUS);
    position: relative;
}

.card:nth-child(1) {
    background-color: var(--CARD-PROFILE);
}

.card:nth-child(2) {
   
    background: var(--CARD-WORK) url(../images/icon-work.svg) no-repeat right top;
}

.card:nth-child(3) {
    background: var(--CARD-PLAY) url(../images/icon-play.svg) no-repeat right top;
}

.card:nth-child(4) {
    background: var(--CARD-STUDY) url(../images/icon-study.svg) no-repeat right top;
}

.card:nth-child(5) {
    background: var(--CARD-EXERCISE) url(../images/icon-exercise.svg) no-repeat right top;
}

.card:nth-child(6) {
    background: var(--CARD-SOCIAL) url(../images/icon-social.svg) no-repeat right top;
}

.card:nth-child(7) {
    background: var(--CARD-SELFCARE) url(../images/icon-self-care.svg) no-repeat right top;
}

/* || FOOTER */
.attribution {
    font-size: 9px;
    position: absolute;
    color: #000;
    bottom: 5px;
    left: 8%;
    right: 8%;
}

.attribution a {
    color: rgb(255, 0, 0);
}

@media screen and (max-width: 576px) {
    .main {
        width: 90%;
        height: 100vh;
        /* margin-top: 90px; */
        display: grid;
        grid-template: repeat(7, 1fr) / repeat(1, 1fr);
        /* grid-template-columns: repeat(4, 1fr); */
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 1.5em 1.5em;
    }

    .profile {
        grid-row: 1;
    }
}